/** @format */

.balance-negative {
  color: red;
}

.balance-positive {
  color: green;
}

.column-balance-container {
  width: 100%;
}
.balance-form-filter {
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
